repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-yaml
  - id: fix-encoding-pragma
    args:
    - --remove
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/PyCQA/autoflake
  rev: v2.0.0
  hooks:
  - id: autoflake
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black]
    exclude: README.md
- repo: https://github.com/pycqa/isort
  rev: 5.11.4
  hooks:
  - id: isort
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    entry: pflake8
    files: ^src/
    additional_dependencies:
    - pyproject-flake8==6.0.0
    - flake8-bugbear==22.12.6
    - flake8-typing-imports==1.14.0
    - flake8-docstrings==1.6.0
    - flake8-rst-docstrings==0.3.0
    - flake8-rst==0.8.0
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.1.1
  hooks:
    - id: pydocstyle
      additional_dependencies: ["toml"]
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: python-use-type-annotations
  - id: rst-backticks
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    files: ^pymatgen/
    args:
    - --namespace-packages
    - --explicit-package-bases
    additional_dependencies:
    - tokenize-rt==4.1.0
    - types-pkg_resources==0.1.2
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.2
  hooks:
  - id: codespell
    name: codespell
    description: Checks for common misspellings in text files.
    entry: codespell
    language: python
    types: [text]
    args: [
      --ignore-words-list, 'titel,statics,ba,nd,te,mater,commun,vise',
      --skip, "*.ipynb"
      ]
- repo: https://github.com/kynan/nbstripout
  rev: 0.6.1
  hooks:
    - id: nbstripout
      args: [
        --drop-empty-cells,
        --strip-init-cells,
        --extra-keys=metadata.kernelspec,
        ]
