name: testing

on:
  push:
    branches:
      - main

    tags:
      - 'v*'

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-ci.txt
          pip install -e .

      - name: Lint
        run: |
          pre-commit install
          pre-commit run --all-files --show-diff-on-failure

  test:
    services:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]

    steps:
    - uses: actions/checkout@v2.3.4

    - uses: actions/setup-python@v2.2.2
      with:
        python-version:  ${{ matrix.python-version }}

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.python-version }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install .[tests]

    - name: Test
      run: pytest --cov=jobflow --cov-report=xml

    - uses: codecov/codecov-action@v1
      if: matrix.python-version == 3.8 && github.repository == 'materialsproject/jobflow'
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
